{% extends "layout.html" %} {%block style%}
<link rel="stylesheet" href="../css/bootstrap.min.css"> {%endblock%}{%block main%}
<div class="container mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <h3>{{author.firstname}} {{author.lastname}}</h3>
                <p id="authorId" class="fw-bold">ID:{{author.id}}</p>
            </div>
            <div class="col-9 text-left">
                <p class="fw-bold">Notes:</p>
                <p class="pw-lighter">{{author.notes}}</p>
            </div>
        </div>
    </div>
    <div>
        <p class="fw-bold mt-2">Books</p>
        <ul class="list-group list-group-flush">
            {%for book in books%}
            <li class="list-group-item">{{book.title}}</li>
            {%endfor%}
        </ul>
    </div>
    <div>
        <p class="fw-bolder">Add a book</p>
        <form action="/writeAuthor/{{author.id}}/" method="post">
            <div class="input-group">
                <select name="book_id" class="form-select input-group" aria-label="Default select example">
                    <option selected disabled>select book</option>
                    {% for bookli in booksList%}
                    <option value="{{bookli.id}}">{{bookli.title}} </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary btn-lg">Add Book</button>
            </div>
        </form>
    </div>

</div>
{%endblock%} {%block css%}
<script src="../js/bootstrap.min.js"></script>{%endblock%}