<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Books & Authors</title>
</head>

<body>
    <div class="container mt-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Authors</a>
            </li>
        </ul>
    </div>
    <div class="container mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <h3>{{book.title}}</h3>
                    <p class="fw-bold">ID:{{book.id}}</p>
                </div>
                <div class="col-9 text-left">
                    <p class="fw-bold">Description:</p>
                    <p class="pw-lighter">{{book.description}}</p>
                </div>
            </div>
        </div>


    </div>

    <script src="/js/bootstrap.min.js"></script>


</body>

</html>